// Title ----------------------
.title {
	color: $colorWhite;
	font-family: $fontAppetite;
	font-size: 27px;
	text-align: center;
	
	&_big {
		font-size: 60px;
		line-height: 70px;
	}

	&__pos {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: -20px;
			width: 55px;
			height: 55px;
			background: url('../img/star_for_letter.png');
			background-size: contain;
		}
	}
}

// Conditions -------------------
.conditions {
	position: relative;
	text-align: center;
	color: $colorWhite;
	margin-bottom: 20px;

	.container {
		position: relative;
	}

    &__info {
        margin-top: 35px;
	}

	&__img {

		img {
			max-height: 180px;
		}
	}

	&__text {
		margin: 20px 0;
	}

	&__text-title {
		font-size: 24px;
		max-width: 725px;
		width: 100%;
		margin: 0 auto;
	}

	&__text-time {
		font-size: 18px;
		margin-top: 15px;
		line-height: 21px;
	}
}

.link-other {
	display: inline-block;
	max-width: 190px;
	width: 100%;
	border-radius: 20px;
	background-color: rgba(#590001, .5);
	position: absolute;
	top: 85px;
	right: 15px;
	padding: 12px 25px 12px 45px;
	color: #f4ebe0;
	font-family: $fontRb;
	font-size: 13px;
	transition: all .2s ease;

	&:hover {
		background-color: rgba(#590001, .7);
	}

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 4px;
		background: url('../img/Logo-5ka.png') no-repeat center center;
		background-size: contain;
		width: 32px;
		height: 32px;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(135deg);
		right: 10px;
		width: 8px;
		height: 8px;
		border: {
			top: 2px solid #fff;
			left: 2px solid #fff;
		}
	}
}

.text-rules {
	font-size: 12px;
	line-height: 14px;
	margin: 50px auto 0;
	max-width: 650px;
	width: 100%;
}

.about-company {
	width: 100%;
    display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding-top: 21vh;
	&__logo {
		text-align: center;
		display: block;
		max-width: 203px;
		max-height: 106px;
	}
	&__pechenie {
		display: block;
		max-width: 234px;
		max-height: 198px;
	}
	&__info {
		display: block;
		max-width: 218px;
		max-height: 48px;
	}
	img {
		margin: 1rem 0.7rem;
	}
}

.action {
	padding-top: 2rem;
	font-family: $fontAppetite;
	color: $colorRed;
	.cards-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	&__card {
		&-wrapper {
		position: relative;
		z-index: 0;
			&:before{
				content: '';
				background-image: url(/img/action-bg.png);
				position: absolute;
				left: -20%;
    			top: -60%;
				width: 400px;
				height: 255px;
				z-index: -1;
			}
		}
		z-index: 1;
		min-width: 320px;
		background: $colorWhite;
		display: inline-block;
		text-align: center;
		padding: 1rem 2rem;		
		border-radius: 10px;
		margin: 1rem 2rem;		
	}
	&__info {
		margin-top: .5rem;
		p {
			font-size: 17px;
			margin-top: .5rem;
		}
	}
}

.disclaimer {
	color: $colorWhite;
	font-size: 13px;
	max-width: 680px;
    text-align: center;
	margin: 2rem auto;
	margin-top: 7rem;
}