.footer {
    background-color: $colorWhite;
	padding: 45px 0 30px;
	position: relative;
	background: url('../img/footer_bg.png') no-repeat center center;
	background-size: cover;
	margin-top: -180px;
    
    &__nav {
        display: flex;
        flex-wrap: wrap;
        color: #5c5c5c;
		justify-content: center;

        li {
            position: relative;

            &:first-child::before {
                display: none;
            }

            &+li {
                margin-left: 35px;
			}
			
			a {
				font-size: 14px;
				text-decoration: underline;
				color: #5c5c5c;

				&:hover {
					color: #a50406;
				}
			}
        }
    }

    &__logo {
        margin-top: 20px;
		text-align: center;
		
		img {
			max-height: 45px;
		}
    }

    &__author {
        margin-top: 20px;
        font-size: 14px;
		color: #5c5c5c;
        text-align: center;
    }
}