// Header
.header {
    padding: 20px 0 10px;
    position: relative;
	
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


.logo-market {

	img {
		max-height: 100px;
	}
}