@media only screen and (max-width: 992px) {
    // Conditions ------------------
    .conditions {

        &__info {
            margin-top: 30px;
        }
    }

	.link-other {
		margin-top: 20px;
		position: relative;
		top: auto;
		right: auto;
	}

	.text-rules {
		margin: 20px auto 0;
	}
}

@media only screen and (max-width: 768px) {	
	// Header Media ------------------
    .header {
		padding: 5px 0;
		background-color: $colorRed;
    }

    .logo {

        img {
			max-height: 36px;
		}
	}
	
	.logo-market {

		img {
			max-height: 50px;
		}
	}

    // Conditions -------------------
    .conditions {
		margin-top: 40px;

		&__info {
			margin-top: 5px;
		}

		&__text-title {
			font-size: 21px;
			line-height: 24px;
		}
	}
	
	// Title ----------------------
	.title {

		&_big {
			font-size: 30px;
			line-height: 35px;
		}

		&__pos {
			
			&:after {
				right: -12px;
				width: 28px;
				height: 28px;
			}
		}
	}

    // Footer -------------------
    .footer {

        &__nav {
            flex-direction: column;
			align-items: center;

            li {

                &+li {
                    margin-left: 0;
                    margin-top: 25px;
                }
            }
        }
    }
}

@media only screen and (max-height: 900px) {
	.height-helper {
		min-height: 900px;
	}
}

@media(min-width:769px) and (max-width:992px) {
	.height-helper {
		min-height: 1000px;
	}
}