/*STYLE RESET START*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: $mainColor;
	font-size: 16px;
	font-family: $fontRr;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    display: block;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: auto;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
	outline: none;
	-webkit-appearance: none;
}

label {
    margin: 0 auto;
}

input, select {
    border: none;
	outline: none;
	-webkit-appearance: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.mt100 {
	margin-top: 100px!important;
}
.mb100 {
	margin-bottom: 100px!important;
}

.height-helper {
    min-height: 100%;
	position: relative;
	padding-bottom: 180px;
	background: url("../img/bg.jpg") no-repeat center center;
	background-size: cover;
}

/*STYLE RESET END*/