// Reset ---------------
$fontAppetite: 'appetitemondmedium', sans-serif;
$fontRb: 'robotobold', sans-serif;
$fontRi: 'robotoitalic', sans-serif;
$fontRm: 'robotomedium', sans-serif;
$fontRr: 'robotoregular', sans-serif;
$mainColor: #4a4a4a;

// Color------------
$colorWhite: #ffffff;
$colorRed: #e20509;
$colorGray: #b4ac96;

// Btn --------------
$colorBtn: #e20509;
$colorBtn2: #a50406;;

// Popups --------------
$colorPopups: #f4ebe0;

// Aside-Menu ---------
$colorAsideMenu: #e20509;

// Hover
$hover: #830e09;
$hover2: #a50406;
